# Example environment variables for docker-compose
SERVICE_BASE_URL=https://localhost:8443
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Europe/Berlin
POSTGRES_DB=itoticketing
POSTGRES_USER=itoticketing
NGINX_SERVER_NAME=localhost
NGINX_HTTP_PORT=8080
NGINX_HTTPS_PORT=8443
